body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabeca{
    width: 130px;
    height: 130px;
    background-color: #f2e7bf;
    border: solid 1px black;
    justify-content: center;
}
.cabelo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: brown;
    height: 30%;
}
.parteCabe{
    
    width: 50%;
    background-color: #f2e7bf;
    height: 30%;
    border: solid 1px black;
    border-bottom: 0px;
}
.uneOlhos{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
}
.olho1, .olho2{
    background-color: white;
    width: 30%;
    height: 100%;
}
.olho1{
    display: flex;
    justify-content: flex-end;
}
.iris1, .iris2{
    width: 45%;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.74);
}
.aliNariz{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
    
}
.nariz{
    height: 100%;
    width: 30%;
    background-color: lightsalmon;
}
.aliBarba{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}
.barba{
    display: flex;
    justify-content: center;
    background-color: burlywood;
    width: 50%;
    height: 100%;
}
.organizaBarba{
    width: 50%;
    height: 50%;
    background-color: #f2e7bf;
}

.uneCorpo, .uneCorpo2{
    background-color: blueviolet;
    display: flex;
    height: auto;
    width: auto;
}

.braco1, .braco2{
    background-color: #f2e7bf;
    width: 60px;
    height: 150px;
    border: solid 1px black;
}
.tronco{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    height: 150px;
    width: 130px;
    border-top: solid 1px  black;
    border-bottom: 1px solid black;
}

.perna1, .perna2{
    background-color: black;
    width: 60px;
    height: 150px;
    margin: 1px;
    border: solid 1px black;
}

/* ROUPA DO AVATAR */
.blusa{
    background-color: aqua;
    width: 100%;
    height: 30%;
    border-bottom: solid 1px black;
}
.calca{
    background-color: aqua;
    height: 80%;
    width: 100%;
    border-bottom: solid 1px;
}
.roupaTro1{
    background-color:  #f2e7bf;
    width: 40%;
    height: 8%;
}
.roupaTro2{
    background-color:  #f2e7bf;
    width: 30%;
    height: 5%;
}